{% extends "Blog/padre.html" %}

{% block contenido %}

    <div class="container mt-5">
    
        <div class="row">

            <div class="col-lg-8">

                {% if post %}

                    <article>

                        <header class="mb-4">
                            <h1 class="fw-bolder mb-1">{{post.titulo}}</h1>
                            <div class="text-muted fst-italic mb-2">Publicado el {{post.fecha}}, por {{post.autor}}</div>
                        </header>

                        <figure class="mb-4">
                            <img class="img-fluid rounded" src="{{post.image}}" alt="..." style="width: 100%;"/>
                        </figure>

                        <section class="mb-5">
                            <p class="fs-5" style="text-align: justify;">{{post.texto}}</p>

                            {% if request.user.is_superuser %}
                                <div style="d-flex">

                                    <p class="fs-6" style="text-align: right;">
                                        <button style="border: 0px; background-color: transparent;">
                                            <a href="{% url 'Post:entradaEditar' post.num_entrada %}" style="color: #212529;">Editar</a>
                                        </button>
                                        
                                        <button style="border: 0px; background-color: transparent;">
                                            <a href="{% url 'Post:entradaEliminar' post.num_entrada %}" style="color: #212529;">Eliminar</a>
                                        </button>
                                    </p>
                                </div>
                            {% endif %}

                        </section>

                    </article>

                    <!-- Comments section-->

                    <section class="mb-5">

                        <div class="card bg-light">

                            <div class="card-body">
                            
                                <div>
                                    
                                    <form class="mb-2" method="POST" action=""> {% csrf_token %}
                                            
                                        <textarea class="form-control mb-2" rows="3" name="comentario" placeholder="{% if not post.comentarios.all %}La discusión todavía no ha empezado. Sé el primero en dejar tu comentario!{% else %}Únete a la discusión y añade tu comentario!{% endif %}"></textarea>

                                        <input class="btn" type="submit" value="Comentar" style="float: right; display: inline-block; background-color: #212529; color: white; padding: 8px 16px">

                                    </form>
                                
                                </div>
                                
                                {% for comentario in post.comentarios.all %}

                                    <div class="d-flex mt-3">

                                        <div class="flex-shrink-0">
                                            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                        </div>

                                        <div class="ms-3">

                                            <div style="font-weight: 500">
                                                {% if comentario.nombre != "AnonymousUser" %}
                                                    {{comentario.nombre}}
                                                {% else %}
                                                    Usuario
                                                {% endif %}
                                                <p style="display: inline; font-weight: lighter; color: #0000008C">- {{comentario.fecha}}</p>
                                            </div>

                                            {{comentario.comentario}}

                                        </div>

                                    </div>

                                {% endfor %}

                            </div>

                        </div>

                    </section>
                
                {% else %}

                    <article>

                        <header class="mb-4">
                            <h1 class="fw-bolder mb-1">No se ha encontrado el artículo buscado.</h1>
                        </header>

                        <section class="mb-5">
                            <a href="{% url 'Blog:inicio' %}">
                                <p class="fs-5 mb-4">Regresar al inicio</p>
                            </a>
                        </section>

                    </article>
                
                {% endif %}
                
            </div>
            <!-- Side widgets-->
            {% include "Blog/sidebar.html" %}

        </div>

    </div>

{% endblock %}