<head>
  <style>
      footer.pie {
          position: fixed !important;
          right: 0 !important;
          bottom: 0 !important;
          left: 0 !important;
          z-index: 1030 !important;
      }
  </style>
</head>

{% extends "Blog/padre.html" %}

{% block contenido %}

  <div class="col-lg-6 card mt-5 mb-5" style="margin: auto">

    <div class="card-header">
      Acerca de mí
    </div>

    <div class="card-body row">
      
      <div class="col-9">
        <p>Página dedicada a experimentar con las diversas funcionalidades de Python y Django como proyecto final tras finalizar el curso dictado por Coderhouse.</p>
        <p style="text-align: justify;">Creada por Francisco López Tancredi, de 18 años. Soy estudiante del Ciclo Básico Común para Ingeniería Informática en la Universidad de Buenos Aires, soy un aficionado a la computación y estoy introduciéndome en el mundo de la programación (empezando por Python).</p>
        
        <a href="https://instagram.com/franlopeztt" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" style="max-height: 50px;"></a>
        <a href="https://github.com/franciscolopeztancredi" target="_blank"><img src="https://mpng.subpng.com/20180326/gxq/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.jpg" style="max-height: 50px;"></a>
      </div>

      <div class="col-3">
        <img src="https://pps.whatsapp.net/v/t61.24694-24/184736562_1031040420926085_4699937533630059627_n.jpg?ccb=11-4&oh=01_AdRqSp9bDE4vPCKuIPu28x2IJxy_JGcuvjNW1FZ5qojIBA&oe=635C527B" style="max-width: 100%; max-height: 100%">
      </div>
      
    </div>

  </div>

{% endblock %}